{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Sobre o Rango{% endblock title %}

{% block body_block %}
    <div class="page-header">
        <h1>Sobre o Rango</h1>
    </div>
    <div id="msg">Olá</div>
    Esta é a página sobre o Rango </br>
    <p> Você já visitou esse site {{ visits }} vezes.</p>
    <button onClick="alert('You clicked the button using Javascript.');">
        Click Me - I run Javascript
    </button>

    <button id="about-btn"> Click Me - I'm Javascript on Speed</button>

    <p>This is a example</p>

    <p>This is another example</p>

    <p> <img src="{% static 'images/rango_about.jpg' %}" alt="Picture of Rango"/>

{% endblock body_block %}
