{% extends 'rango/base.html' %}

{% load bootstrap_toolkit %}

{% block title %}Adicione uma Categoria{% endblock title %}

{% block body_block %}
    <form role="form"  id="category_form" method="post" action=".">
        <h2 class="form-signin-heading">Adicione uma Categoria</h2>

        {% csrf_token %}
        {{ form|as_bootstrap }}
        <br/>
        <button class="btn btn-primary" type="submit" name="submit">Adicionar Categoria</button>

    </form>

{% endblock body_block %}
