{% extends 'rango/base.html' %}

{% block title %}{{ category_name }}{% endblock title %}

{% block body_block %}
    <div class="page-header">
        <h1>{{ category_name }}</h1>
    </div>

    <div>
        <strong id="like_count">{{ category.likes }}</strong> pessoas curtem essa categoria

        {% if user.is_authenticated %}
            <button id="likes" data-catid="{{category.id}}" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                Like
            </button>
        {% endif %}
    </div>

    {% if category %}
        <ul>
            {% for page in pages %}
                <li> <a href="{% url 'goto' %}?page_id={{page.id}}">{{ page.title }}</a> ({{ page.views }})</li>
            {% empty %}
                <strong>Não há página nessa categoria nesse momento.</strong>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            </br> <a href="{% url 'add_page' category.slug %}">Adicione uma nova Página</a><br />
        {% endif %}
    {% else %}
        <strong>A categoria {{ category_name }} não existe!</strong>
    {% endif %}

{% endblock body_block %}
