{% extends 'rango/base.html' %}

{% block body_block %}
    <div class="row placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Categorias</h3>
                </div>
            </div>

            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{% url 'category' category.slug %}">{{ category.name }}</a> ({{ category.likes }})
                    </li>
                {% empty %}
                    <strong>Não há categorias presentes.</strong>
                {% endfor %}
            </ul>


        </div>
        <div class="col-xs-12 col-sm-6 placeholder">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Páginas</h3>
                </div>
            </div>

            <ul class="list-group">
                {% for page in pages %}
                    <li class="list-group-item">
                        <a href="{{ page.url }}">{{ page.title }}</a> ({{ page.views }})
                    </li>
                {% empty %}
                    <strong>Não há páginas presentes.</strong>
                {% endfor %}
            </ul>


        </div>
    </div>
{% endblock body_block %}
