{% extends "rango/base.html" %}

{% block title %}Perfil{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <a href={%  url 'profile_edit' u.username %}>Editar</a> </p>
    <h1>{{ u.username }}<h1>
    <h2>{{ u.first_name}} {{ u.last_name}}</h2>
    <p>Email: <a href='mailto:{{ u.email }}' > {{ u.email }}</a> </p>

    {% if userprofile %}
        <p>Website: <a href="{{ userprofile.website }}" target="_blank">{{ userprofile.website }}</a></p>
        <br/>
        {% if userprofile.picture %}
            <img src="{{ userprofile.picture.url }}"  />
        {% endif %}
    {% endif %}
</div>
{% endblock %}