{% extends 'rango/base.html' %}

{% load bootstrap_toolkit %}

{% block title %}Registre-se{% endblock title %}

{% block body_block %}
    <div class="page-header">
        <h2 class="form-signin-heading">Registre-se no Rango</h2>
    </div>
    {% if registered %}
        </br> <strong>Obrigado por registrar-se!</strong>
    {%  else %}
        <strong>Registre-se aqui!</strong>

        <form role="form" id="user_form" method="post" action="."
              enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form|as_bootstrap }}
            {{ profile_form|as_bootstrap }}

            <button class="btn btn-primary" type="submit" name="submit">Registre-se</button>


        </form>
    {% endif %}

{% endblock body_block %}