{% extends 'rango/base.html' %}

{% block title %}Página Restrita{% endblock title %}

{% block body_block %}
    <div class="page-header">
        <h1>Página Restrita</h1>
    </div>
    Como você está logado, consegue ver esse texto!

{% endblock body_block %}