{% extends 'rango/base.html' %}

{% load bootstrap_toolkit %}

{% block title %}Edição dos dados do usuário{% endblock title %}

{% block body_block %}
    <div class="page-header">
        <h2 class="form-signin-heading">Edite suas informações</h2>
    </div>
    <form role="form" id="user_form" method="post" action="."
          enctype="multipart/form-data">

        {% csrf_token %}
        {{ user_form|as_bootstrap }}
        {{ profile_form|as_bootstrap }}

        <button class="btn btn-primary" type="submit" name="submit">Salvar</button>
    </form>

{% endblock body_block %}