{% extends 'rango/base.html' %}

{% block body_block %}
    <div class="page-header">
        <h1>Usuários</h1>
    </div>

    <ul class="list-group">
        {% for u in users %}
            <li class="list-group-item">
                <a href="{% url 'profile' u.username %}">{{ u.first_name}} {{ u.last_name}} ({{ u.username}})</a>
            </li>
        {% empty %}
            <strong>Não há usuários cadastrados.</strong>
        {% endfor %}
    </ul>
{% endblock body_block %}
